<?xml version = "1.0" encoding ="UTF−8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng−1.0.dtd">

<suite name ="RPS" verbose ="1" >
    <parameter name ="papier " value ="papier"/>
    <parameter name ="pierre " value ="pierre"/>
    <parameter name ="pierre " value ="ciseaux"/>

    <test name = "tes tWinPlay" >
        <classes >

            <class name ="fr.parisnanterre.miage.rps.model.RockPaperScissorsTest" >
                <methods >
                    <include name =" tes tWinPlay " > </ include >
                </ methods >
            </ class >

        </ classes >
    </ test >

</ suite>